<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>PETinder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="style.css" media="all" /> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/kickstart.js"></script>


</head>

<body>
<div class="grid">
<div class="col_2"></div>
<div class="col_8"><div style="background: #FFFFFF">
<div style="border:10px; border-style:solid; border-color:orange; padding: 1em;">
<center>
<img src="titulo.png"/>
<div class="grid">
<div class="col_2">
</div>
<div class="col_8">
<form action="/adote?user={{ user }}&cao={{ cao }}">
<img class="caption" src="teste2.jpg" />
</div>
<div class="col_2">
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
</div>
{% for e in name: %}
<br><strong>Nome:</strong> {{ name[e].cao }}
<br><strong>Idade:</strong> {{ name[e].idade }} anos
<br><strong>Cidade:</strong> {{ name[e].cidade }}
<br><strong>Raça:</strong> {{ name[e].raca }}
<br><strong>Sexo:</strong> {{ name[e].sexo }}
<br><strong>Cor:</strong> {{ name[e].cor }}
<br><strong>Situação de saúde:</strong> {{ name[e].saude }}
<br><strong>E-mail p/ contato:</strong> {{ name[e].email }}
{% endfor %}
</br></br></br></br></br></br></br></form>
</div></div></div>
<div class="col_2"></div></div>

<!-- End Grid -->
</body>
</html>
