<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>PETinder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="style.css" media="all" /> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/kickstart.js"></script>


</head>

<body>
<div class="grid">
<div class="col_2"></div>
<div class="col_8"><div style="background: #FFFFFF">
<div style="border:10px; border-style:solid; border-color:orange; padding: 1em;">
<center>
<a href="/voltar?user={{ user }}"><img src="titulo.png"/></a>
<div class="grid">
<div class="col_2">
</div>
<div class="col_8">
<form action="/adote?user={{ user }}&cao={{ cao }}">
<img src="uploads/{{ filename }}" width="400" height="400"/>
<br><strong>Nome:</strong> {{ name.nome }}
<br><strong>Idade:</strong> {{ name.idade }}
<br><strong>Cidade:</strong> {{ name.cidade }}
<br><strong>Raça:</strong> {{ name.raca }}
<br><strong>Sexo:</strong> {{ name.sexo }}
<br><strong>Cor:</strong> {{ name.cor }}
<br><strong>Situação de saúde:</strong> {{ name.saude }}
<br><strong>E-mail p/ contato:</strong> {{ name.email }}
</form>
<div class="col_2"></div></div>
<a href="/delfinal?user={{ user }}&cao={{ cao }}">
<div align="right"><button name="button" value="confirma" class="button orange"><i class="large"><i class="pill"><i class="fa fa-heart"></i></i></i>  Confirmar adoção!</button></a></div>
</div></div></div>
<div class="col_2"></div></div>

<!-- End Grid -->
</body>
</html>
