<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>PETinder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="style.css" media="all" /> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/kickstart.js"></script>
</head>
<body>
<div class="grid">
<div class="col_2"></div>
<div class="col_8"><div style="background: #FFFFFF">
<div style="border:10px; border-style:solid; border-color:orange; padding: 1em;">
<center>
<img src="cadastro.png"/></center>
<form class="vertical" method="POST" action="/cadastro?user={{ nomepessoa }}" enctype="multipart/form-data">
<br><label for="nome"><strong><h6><font color="orange">Nome</font></strong></h6></label>
</br>
<input name="nome" id="nome" type="text" placeholder="Ex: Rex" />
<br></br>
<br><label for="file"><strong><h6><font color="orange">Foto</font></strong></h6></label>
</br>
<input name="file" type="file" accept="image/*"/>
<br></br>
<br><label for="raca"><strong><h6><font color="orange">Raça</font></strong></h6></label>
</br>
<input name="raca" id="raca" type="text" placeholder="Ex: Labrador" />
<br></br>
<br><label for="sexo"><strong><h6><font color="orange">Sexo</font></strong></h6></label>
</br>
<select required name="sexo" id="sexo">
<option value="0">-- Escolha --</option>
<option value="Masculino">Masculino</option>
<option value="Feminino">Feminino</option>
</select>
<br></br>
<br><label for="cidade"><strong><h6><font color="orange">Cidade</font></strong></h6></label>
</br>
<input name="cidade" id="cidade" type="text" placeholder="Ex: São Paulo" />
<br></br>
<br><label for="idade"><strong><h6><font color="orange">Idade</font></strong></h6></label>
</br>
<input name="idade" id="idade" type="text" placeholder="Ex: 3" />
<br></br>
<br><label for="cor"><strong><h6><font color="orange">Cor</font></strong></h6></label>
</br>
<input name="cor" id="cor" type="text" placeholder="Ex: Branco" />
<br></br>
<br><label for="saude"><strong><h6><font color="orange">Situação de saúde</font></strong></h6></label>
</br>
<br></br>
<textarea name="saude" id="saude" placeholder="Cite aqui se o seu PET tiver alguma doença hereditária ou sofrer de algum problema de saúde crônico"></textarea>
<br></br>
<div align="right"><button class="button orange"><i class="large"><i class="pill"><i class="fa fa-paw"></i></i></i> Cadastrar</button>
</form></div></div></div></div>
<div class="col_2"></div></div>
<!-- End Grid -->
</body>
</html>
