<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>PETinder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="style.css" media="all" /> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/kickstart.js"></script>
</head>
<body>
<div class="grid">
<div class="col_2"></div>
<div class="col_8"><div style="background: #FFFFFF">
<div style="border:10px; border-style:solid; border-color:orange; padding: 1em;">
<center>
<img src="titulo.png"/>
<br><br><br><br><br><br><br><br>
<form class="vertical" method="GET" action="/home"><button name="button" value="parceiro" class="button orange"><i class="pill"><i class="fa fa-paw"></i></i> Encontre um parceiro</button>
</br><br>
<button name="button" value="doar" class="button orange"><i class="pill"><i class="fa fa-paw"></i></i> Doar</button>
</br><br>
<button name="button" value="adotar" class="button orange"><i class="pill"><i class="fa fa-paw"></i></i> Adotar</button></center></br></form>
</br></br></br></br></br></br></br>
</div></div></div>
<div class="col_2"></div></div>



<!-- End Grid -->
</body>
</html>