<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>PETinder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="style.css" media="all" /> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/kickstart.js"></script>
</head>
<body>
<div class="grid">
<div class="col_2"></div>
<div class="col_8"><div style="background: #FFFFFF">
<div style="border:10px; border-style:solid; border-color:orange; padding: 1em;">
<center>
<img src="seuspets.png"/>
<br><br>
<a href="/cadastro?user={{ nomepessoa }}"><button class="button orange"><i class="large"><i class="pill"><i class="fa fa-paw"></i></i></i> Cadastrar</button></center></br></br></a>
<table class="sortable striped">
<thead><tr>
<th>Cão</th>
<th>Escolher esse</th>
<th>Deletar</th>
</tr></thead>
<tbody>
{% for e in dic: %}
<tr>
<td>{{ dic[e].nome }}</td>
<td><a href="/opt?user={{ nomepessoa }}"><i class="fa fa-heart"></i></a></td>
<td><a href="./del?nome={{ e }}"><i class="fa fa-trash"></i></a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div></div></div>
<div class="col_2"></div></div>
<!-- End Grid -->
</body>
</html>
